<nav class="flex flex-center flex-bw positionF ">
    <div class="flex flex-center">
        <h1>Task Manager</h1>
    </div>
    <div class="navbar ">
        <ul class="styling  flex flex-ev">
            <li class=" "><a href="/tasks/new">New Task</a></li>
            <li class=""><a href="/tasks">All Tasks</a></li>
            <li class=" "><a href="/tasks?status=active">Active Tasks</a></li>
            <li class=" "><a href="/tasks?status=inactive">Inactive Tasks</a></li>
        </ul>
    </div>
</nav>